body {
  text-align: center;
  background: url("https://wallpapercave.com/wp/wp2757861.gif") center/cover fixed;
  color: #ffffff;
  font-family: "Henny Penny", cursive;
}

#header, h3 {
  font-family: "Creepster", cursive;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 6px rgb(0, 0, 0);
}

img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  border: 4px solid rgb(206, 206, 206);
  box-shadow: 0 0 15px red;
  display: block;
  margin: 10px auto;
}

